@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Schibsted Grotesk', sans-serif;
}

.box {
    position: relative;
    width: clamp(200px, 33vw, calc(416px - 1rem));
    height: auto;
    margin: 2rem auto;
    background-color: rgb(33, 169, 223);
    aspect-ratio: 1 / 1;
    text-align: center;
    border: 2px solid #000;
    transition: all 0.5s ease-in-out
}

.box:hover {
    filter: hue-rotate(180deg);
    border: 3px solid #aaa;
}

p:hover::after {
    content: attr(title)
}

p {
    position: absolute;
    top: 50%;
    left: 50%;

    font-style: italic;
    text-decoration: underline dotted;

    transform: translate(-50%, -50%)
}