@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Schibsted Grotesk', sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 300px));
}

.box {
    position: relative;
    background-color: rgb(33, 169, 223);
    text-align: center;
    aspect-ratio: 1 / 2;
    border: 2px solid #000;
    transition: all 0.5s ease-in-out
}

.box:hover {
    filter: hue-rotate(180deg);
    border: 3px solid #aaa;
}

p:hover::after {
    content: attr(title);
    white-space: nowrap;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 15px;
    text-decoration: none;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;

    font-style: italic;
    text-decoration: underline dotted;

    transform: translate(-50%, -50%)
}