@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Schibsted Grotesk', sans-serif;
}

.box {
    position: relative;
    width: min(100%, 300px);
    height: auto;
    margin: 2rem auto;
    background-color: aquamarine;
    aspect-ratio: 1 / 1;
    text-align: center;
    border: 2px solid #000;
}

p {
    position: absolute;
    top: 50%;
    left: 50%
}